body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 800px; /* Limit container width for larger screens */
    margin: 0 auto; /* Center the container horizontally */
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    margin-bottom: 20px;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ensure the video fills the container */
    height: 100%; /* Ensure the video fills the container */
    border: none;
}
#skip-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer; /* Set cursor to pointer by default */
}

#skip-button:disabled {
    cursor: not-allowed; 
    background-color:#589feb;
}
